.columnHeaders {
    margin: 0;
    margin-top: 16px;
}

.row .col.m5 {
    width: 20%;
    margin: 0;
    padding-left: 52px;
    
}

.row .col.m3 {
    width: 18%;
    margin-left: 31px;
    margin-bottom: 28px;
}

.headingContainer {
    border: 1px solid black;
    margin: 44px;
}

.material-icons.addButton{
    background-color: purple;
}
.addButton {
    background-color: purple;
    border-radius: 50%;
    color: white;
    height: 7vh;
}

.removeButton {
    background-color: red;
    border-radius: 50%;
    color: white;
    height: 7vh;
    text-align: center;
    padding-top: 13px;
}

.searchContainer {
    margin: 0 400px 0 375px;
}

.search-wrapper {
    background-color: white;
    border: 1px solid black;
    margin-top: 25px;
}
